{
    "NSPrivacyAccessedAPITypes": [
        {
            "NSPrivacyAccessedAPIType": "NSFaceIDUsageDescription",
            "NSPrivacyAccessedAPITypeReasons": ["NSPrivacyAccessedAPITypeReasonAuthentication"]
        },
        {
            "NSPrivacyAccessedAPIType": "NSLocationUsageDescription",
            "NSPrivacyAccessedAPITypeReasons": ["NSPrivacyAccessedAPITypeReasonUserExperience"]
        },
        {
            "NSPrivacyAccessedAPIType": "NSCameraUsageDescription",
            "NSPrivacyAccessedAPITypeReasons": ["NSPrivacyAccessedAPITypeReasonDocumentScanning"]
        },
        {
            "NSPrivacyAccessedAPIType": "NSPhotoLibraryUsageDescription",
            "NSPrivacyAccessedAPITypeReasons": ["NSPrivacyAccessedAPITypeReasonUserExperience"]
        },
        {
            "NSPrivacyAccessedAPIType": "NSMicrophoneUsageDescription",
            "NSPrivacyAccessedAPITypeReasons": ["NSPrivacyAccessedAPITypeReasonMediaPlayback"]
        }
    ],
    "NSPrivacyTracking": false,
    "NSPrivacyTrackingDomains": [],
    "NSPrivacyCollectedDataTypes": [
        {
            "NSPrivacyDataType": "NSPrivacyDataTypeFaceID",
            "NSPrivacyDataTypeLinked": false,
            "NSPrivacyDataTypeTracking": false,
            "NSPrivacyDataTypePurposes": ["NSPrivacyDataTypePurposeAuthentication"]
        },
        {
            "NSPrivacyDataType": "NSPrivacyDataTypeLocation",
            "NSPrivacyDataTypeLinked": true,
            "NSPrivacyDataTypeTracking": false,
            "NSPrivacyDataTypePurposes": ["NSPrivacyDataTypePurposeAppFunctionality"]
        }
    ]
} 