<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\NayifatAPI.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="10485760" />
        </requestFiltering>
      </security>
      <handlers>
        <remove name="WebDAV" />
      </handlers>
      <staticContent>
        <mimeMap fileExtension=".pdf" mimeType="application/pdf" />
        <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
        <mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
        <mimeMap fileExtension=".png" mimeType="image/png" />
      </staticContent>
      <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
        <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
        <dynamicTypes>
          <add mimeType="application/json" enabled="true" />
          <add mimeType="application/pdf" enabled="true" />
          <add mimeType="image/*" enabled="true" />
        </dynamicTypes>
      </httpCompression>
    </system.webServer>
  </location>
  <system.web>
    <httpRuntime maxRequestLength="10240" executionTimeout="120" />
  </system.web>
</configuration> 